<app-header></app-header>



<body>
    <div class="container">

        <h1 class="text-center">Scenario {{id$ | async}}, {{scnName}} </h1>
        <hr>
        <h3>Scenario Attributes:</h3>

        
        <hr>

        <h3>Scenario Comments</h3>
        <p contenteditable="true" class="lead">Basic grid layouts to get you familiar with building within the Bootstrap
            grid system.</p>

        <hr>

 

        <h3>Entities</h3>

        <table class="table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Parents</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody *ngFor="let s of entityList">

                <tr>
                    <td>{{s.name}}</td>
                    <td>{{s.type}}</td>
                    <td>{{s.parentString}}</td>
                    <td><button class= "btn btn-light">View</button></td>
                </tr>
                
              </tbody>
        </table>

    </div> <!-- /container -->
</body>