<h1 class="text-center">{{title}}</h1>

<div class = "container">
    <table class="table">
        <thead>
            <tr>
              <th *ngFor="let h of headers">{{h}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let s of scenarios">
            <tr>
              <td >{{s.id}}</td>
              <td >{{s.scnName}}</td>
              <td >{{s.scnDate | date}}</td>
              <td >{{s.version}}</td>
              <td >{{s.scnDescription}}</td>
              <td><button [routerLink]="['/scn-list/',s.id]" class = "btn btn-light">Open</button></td>
            </tr>
          </tbody>
    </table>
</div>
